.product {
  width: 100%;
  padding: 0 5%;
  &__title {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
  }
  &__content {
    display: flex;
    &__skeleton {
      width: 25%;
      padding: 10px;
      animation: blinking 1s infinite;
      &__image {
        width: 100%;
        aspect-ratio: 1/1;
        background-color: gray;
      }
      &__name {
        width: 100%;
        height: 20px;
        margin-top: 10px;
        background-color: gray;
      }
      &__price {
        width: 100%;
        height: 20px;
        margin-top: 10px;
        background-color: gray;
      }
      &__category {
        width: 100%;
        height: 20px;
        margin-top: 10px;
        background-color: gray;
      }
    }
    &__item {
      width: 25%;
      padding: 10px;
      &__name {
        font-size: 20px;
        font-weight: 700;
      }
      &__price {
        font-size: 18px;
        font-weight: 700;
        color: #ff0000;
      }
      &__img {
        width: 100%;
        height: 200px;
        object-fit: cover;
      }
      &__price {
        font-size: 18px;
        font-weight: 700;
        color: #ff0000;
      }
    }
  }
}

@keyframes blinking {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
